html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color:rgb(255, 179, 0);
	background-size: cover;
	color:white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	background-color:rgba(255,127,0,0.8);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
header div {
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#dateTime {
    flex-grow: 1;
	font-size:30px;
	padding:12px;
}

#changeLocation {
    flex-grow: 1;
	display: flex;
	align-items:center;
	justify-content: center;
}
#greeting {
    flex-grow: 3;
	font-size:30px;
	padding:12px;
}
#location{
	width: 100%;
	border: 3px solid #00B4CC;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
#location:focus {
	color: #00B4CC;
}
#changeLocation form{
  width: 100%;
  position: relative;
  display: flex;
}
#searchBut{
	width: 40px;
	height: 36px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
#compWeather{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
}
#tempPrec{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding:15px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}
.tempPrecDiv{
	display: flex;
	background-color: rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: space-evenly;
}
.avgHead,.curHead,.precHead{
	font-size:25px;
	color:rgba(0, 0, 0, 0.8);
	margin-bottom:20px;
	background-color: rgba(240,248,255,0.2);
	border-radius:10px;
	padding:10px;
}
.avgValue,.curValue,.precValue{
	font-size: 40px;
}
#weatText{
	font-size:40px;
}
#maxTemp,#minTemp,#avgTemp,#weatImg,#curTemp,#weatText
,#rainPer,#umbrella{
	padding-left:15px;
	padding-right:15px;
	padding-top: 25px;
	padding-bottom: 25px;
}
#current,#average{
	border-bottom:2px solid rgba(0, 0, 0, 0.5);
}
#average{
	border-radius: 15px 15px 0px 0px;
}
#curPrec{
	border-radius: 0px 0px 15px 15px;
}
#uvWindPol{
	display: flex;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding:15px;
	padding:15px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.uwpHead{
	font-size: 25px;
	color:rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	background-color: rgba(240,248,255,0.2);
	border-radius:10px;
	padding:10px;
}
#aq div:nth-child(2){
	font-size: 25px;
}
li{
	margin-bottom: 10px;
}
#aq{
	border-right: 2px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px 0px 0px 15px;
	padding:15px 30px 15px 40px;
}
#windUv{
	padding:0px 10px 0px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 0px 15px 15px 0px;

}
#windUv div div:nth-child(2){
	font-size: 35px;
}
#locationFoot{
	height: 20px;
	text-align: center;
	padding-top: 10px;
	background-color:rgba(255,127,0,0.8);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width:1000px){
	header{
		flex-direction: column;
		align-items: center;
	}
	#compWeather{
		flex-direction: column;
	}
	#tempPrec{
		margin:5px 15px 5px 15px;
	}
	#uvWindPol{
		margin:5px 15px 5px 15px;
	}
	#tempPrec{
		transform: scale(0.7);
	}
	#uvWindPol{
		transform: scale(0.9);
	}
}